# Секреты и локальные настройки — никогда не должны попасть в git
.env
.venv/

# Файлы, которые ты явно попросил не заливать
main.py
tra.py

# Стандартный мусор Airflow
logs/
plugins/
*.pyc
__pycache__/

# Служебное от PyCharm
.idea/

# На случай локальных sqlite-файлов Airflow (если когда-нибудь появятся)
airflow.db